$gridi-helpers-margin-classes: (
    margin-0: (
        top: 0,
        bottom: 0,
        left: 0,
        right: 0,
    ),
    margin-vertical-0: (
        top: 0,
        bottom: 0,
    ),
    margin-horizontal-0: (
        left: 0,
        right: 0,
    ),
    margin-auto: (
        top: auto,
        bottom: auto,
        left: auto,
        right: auto,
    ),
    margin-vertical-auto: (
        top: auto,
        bottom: auto,
    ),
    margin-horizontal-auto: (
        top: auto,
        bottom: auto,
        left: auto,
        right: auto,
    ),
    margin-big: (
        top: 60px,
        bottom: 60px,
        left: 0,
        right: 0,
        for-screens: (
            s5: (
                top: 100px,
                bottom: 100px,
                left: 0,
                right: 0
            )
        )
    ),
    margin-big-top: (
        top: 60px,
        for-screens: (
            s5: (
                top: 100px,
            )
        )
    ),
    margin-big-bottom: (
        bottom: 60px,
        for-screens: (
            s5: (
                bottom: 100px,
            )
        )
    )
) !default;